<!DOCTYPE html>
<html>
<head>
    <title>csv to Pickle file generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h3>Train Data Range</h3>

<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="trainValue">
  <p>Value: <span id="demo"></span></p>
</div>

<div>
<h3></h3>
<select class="algo" style="padding: 0.5%" id="algorithm">
  <option value="Select">Select</option>
  <option value="Classifier">Classifier</option>
  <option value="Cluster">Cluster</option>
  <option value="linearRegression">Linear</option>
</select>
</div>
<br><br>
<form id="form">
<div>
    <button id="trainData" style="padding: 3.4px 30px;" onclick="train()" type="button" class="button">Train</button><br>
</div>
</form>
<br><br>
<form>
  <div>
    <h3 style="color:royalblue">Download Pickle files</h3><br>
<label class="container">Download Pickle One
  <input id="pickleOne" type="checkbox" name="pickles" value="1"/>
  <span class="checkmark"></span>
</label>
<label class="container">Download Pickle Two
  <input id="pickleTwo" type="checkbox" name="pickles" value="2"/>
  <span class="checkmark"></span>
</label>
<label class="container">Download Pickle Three
  <input id="pickleThree" type="checkbox" name="pickles" value="3"/>
  <span class="checkmark"></span>
</label>
<label class="container">Download Pickle Four
  <input id="pickleFour" type="checkbox" name="pickles" value="4"/>
  <span class="checkmark"></span>
</label>
<label class="container">Download Pickle Five
  <input id="pickleFive" type="checkbox" name="pickles" value="5"/>
  <span class="checkmark"></span>
</label>
<br><br>
    <button id="pickleDownload" style="padding: 3.4px 30px; float:left;" onclick="DownloadPickle()" type="button" class="button">Download</button>
    <!--<button id="pickle2" style="padding: 3.4px 30px; float:left;" on-click="pickle2" type="button" class="button">Pickle 2</button>
    <button id="pickle3" style="padding: 3.4px 30px; float:left;" on-click="pickle3" type="button" class="button">Pickle 3</button>
    <button id="pickle4" style="padding: 3.4px 30px; float:left;" on-click="pickle4" type="button" class="button">Pickle 4</button>
    <button id="pickle5" style="padding: 3.4px 30px; float:left;" on-click="pickle5" type="button" class="button">Pickle 5</button>-->

</div>
</form>
<script type=text/javascript>
var slider = document.getElementById("trainValue");
console.log("trainValue",trainValue);
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}

function train() {



    var inputValue=document.getElementById('trainValue').value;
 alert(inputValue);
    var dropdown=document.getElementById('algorithm');

    var algorithmValue = dropdown.options[dropdown.selectedIndex].value;
    alert(algorithmValue)
    var trainObj={
    "trainValue":inputValue,
    "algorithm":algorithmValue
    };

 var xhttp = new XMLHttpRequest();
 xhttp.open("POST", "https://picklegeneratorfordemo.run.aws-usw02-pr.ice.predix.io/train", true);
  xhttp.setRequestHeader("Content-type", "application/json");
  alert(trainObj);
  alert(JSON.stringify(trainObj));
  xhttp.send(JSON.stringify(trainObj));
}

// pickle file generate



function DownloadPickle(){

var pickles = document.getElementsByName("pickles");
var picklesize = pickles.length;
var id = 0;
//var id = pickles[0]
alert("Downloading")

for(i=0;i<picklesize;i++){
    //alert(pickles[i].checked)
              if(pickles[i].checked)
              {
                  id = pickles[i].value;
                  //alert(id);
                  window.open('https://picklegeneratorfordemo.run.aws-usw02-pr.ice.predix.io/pickle/'+id);
              }
              }
}

</script>

</body>
</html>


